.colorPrincipal{
    background-color: bisque;
    border-color: bisque;
}

.btn-primary{
    background-color: rgb(248, 182, 100) !important; 
    border-color: rgb(236, 166, 80) !important;
}

.btn-primary:hover{
    background-color: rgb(241, 178, 106) !important; 
    border-color: rgb(240, 181, 109) !important;

}

.fondo{
    background-image: url("./fondo.webp");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}
.fondo2{
     background-image: url("./fondo2.webp");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}